@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/Sofia-Pro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/Sofia-Pro-Semi-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/Sofia-Pro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: Sofia Pro;
}
img {
  width: 100%;
}
h2 {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  margin: 20px;
}
header {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 50px;
}
.logo {
  display: none;
  max-width: 250px;
}
.logo-mobile {
  max-width: 50px;
  margin: 0 auto;
}
.hero-wrapper {
  padding-bottom: 26px;
}
.hero-img-wrapper {
  padding-bottom: 25px;
}
.hero-img {
  margin: 0 auto;
  text-align: center;
}
.hero--img {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-img {
  position: relative;
  width: 316px;
  height: 211px;
  max-width: 100%;
}
.purple-circle {
  width: 208px;
  height: 208px;
  position: absolute;
  background: #f53030;
  opacity: 0.6;
  filter: blur(100px);
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 0 auto;
}
.hero-title-wrapper {
  text-align: center;
}
.hero--subtitle {
  font-size: 14px;
  color: #ababab;
}
.hero--text {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

/*my work*/
.work {
  text-align: center;
  padding-bottom: 34px;
}
.work--title {
  margin-bottom: 27px;
}

/*what can we do section*/
.services--title {
  text-align: center;
  margin-bottom: 60px;
}
.card-wrapper {
  padding: 30px;
  padding-bottom: 12px;
}
.card {
  background: #414141;
  border-radius: 28px;
  padding: 18px;
  margin-bottom: 30px;
}
.card ul {
  list-style-image: url(../images/bullet.png);
  padding-left: 20px;
}
.card li {
  line-height: 1.7;
  font-size: 14px;
}
/*Explore*/
.explore {
  text-align: center;
}

/*Footer*/
.lets-talk {
  text-align: center;
  margin: 0 auto;
}
.lets-talk--title {
  margin-bottom: 56px !important;
}
.lets-talk--button {
  width: 300px;
  background: #9bbacb;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 26px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
  max-width: 100%;
}
.whatsapp {
  width: 54px;
  text-align: center;
  margin: 0 auto;
}

/*owl resets*/
.work .owl-carousel img.work--img {
  width: 30px;
}
.owl-carousel .item {
  width: 30px;
  margin: 0 auto;
}
.owl-stage {
  margin: 0 auto;
}
.owl-carousel .item-video {
  height: 250px;
}
.owl-carousel.video {
  width: 90%;
  margin: 0 auto;
}
.owl-stage {
  display: flex;
  justify-content: center;
}

/*---------------Responsive layout------------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-mobile {
    display: none;
  }
  .logo {
    display: block;
  }
}

/* Medium devices (landscape tablets, 834px and up) */
@media only screen and (min-width: 834px) {
}
