@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/Sofia-Pro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/Sofia-Pro-Semi-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/Sofia-Pro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: Sofia Pro;
}
img {
  width: 100%;
}
h2 {
  font-size: 26px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  margin: 20px;
}
header {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 50px;
}
.logo {
  display: none;
  max-width: 250px;
}
.logo-mobile {
  max-width: 50px;
  margin: 0 auto;
}
.hero-wrapper {
  padding-bottom: 26px;
}
.hero-img-wrapper {
  padding-bottom: 25px;
}
.hero-img {
  margin: 0 auto;
  text-align: center;
}
.hero--img {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-img {
  position: relative;
  width: 316px;
  max-width: 100%;
}
.purple-circle {
  width: 208px;
  height: 208px;
  position: absolute;
  background: #f53030;
  opacity: 0.6;
  filter: blur(100px);
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 0 auto;
}
.hero-title-wrapper {
  text-align: center;
}
.hero--subtitle {
  font-size: 14px;
  color: #ababab;
}
.hero--text {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

/*my work*/
.work {
  text-align: center;
  padding-bottom: 34px;
}
.work--title {
  margin: 50px;
}

/*what can we do section*/
.services--title {
  text-align: center;
  margin: 50px;
}
.card-wrapper {
  padding: 30px;
  padding-bottom: 12px;
  margin: 0 auto;
}
.card {
  background: #414141;
  border-radius: 28px;
  padding: 18px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 540px;
}
.card ul {
  list-style-image: url(../images/bullet.png);
  padding-left: 20px;
}
.card li {
  line-height: 1.4;
  font-size: 14px;
  padding-bottom: 12px;
}
/*Explore*/
.explore {
  text-align: center;
}

/*Footer*/
.lets-talk {
  text-align: center;
  margin: 0 auto;
}
.lets-talk--title {
  margin-bottom: 56px !important;
}
.lets-talk--button {
  width: 300px;
  background: #9bbacb;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 26px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 auto;
  max-width: 100%;
}
.whatsapp {
  width: 54px;
  text-align: center;
  margin: 0 auto;
}

/*owl resets*/
.work .owl-carousel img.work--img {
  max-width: 125px;
  width: 100%;
}
@media only screen and (max-width: 380px) {
  .work .owl-carousel img.work--img {
    max-width: 80px;
  }
}
.owl-carousel .item {
  max-width: 150px;
  margin: 0 auto;
  width: 100%;
}
.owl-stage {
  margin: 0 auto;
}
.owl-carousel .item-video {
  height: 250px;
}
.owl-carousel.video {
  width: 80%;
  margin: 0 auto;
}
.owl-stage {
  display: flex;
}

/*---------------Responsive layout------------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 60px 72px;
  }
  .logo-mobile {
    display: none;
  }
  .logo {
    display: block;
    max-width: 174px;
  }
  header {
    padding-top: 0;
  }
  .hero-img {
    width: 486px;
  }
  .hero {
    max-width: 486px;
    margin: 0 auto;
    position: relative;
  }
  .hero-title-wrapper {
    position: absolute;
    top: 52px;
    left: -40px;
    text-align: left;
  }
  .hero-text-wrapper {
    position: absolute;
    bottom: 15px;
    right: -118px;
    text-align: left;
  }
  .hero--text {
    text-align: left;
  }
  .card {
    padding: 40px;
    margin-bottom: 30px;
  }
  .card li {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-img {
    width: 670px;
  }
  .hero {
    max-width: 670px;
  }
  .hero-title-wrapper {
    top: 120px;
    left: 10px;
  }
  .hero-text-wrapper {
    right: -90px;
  }
  header {
    padding-bottom: 0px;
  }
  .work--title {
    margin-top: 0px;
  }
  .hero-wrapper {
    padding-bottom: 20px;
  }
  .card {
    padding: 40px;
  }
  .card li {
    font-size: 22px;
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
